/*!
  © Nick Freear, 06-November-2017.
*/

.post-type-eab_bulletin #insert-media-button,
.post-type-eab_bulletin #qt_content_em,
.post-type-eab_bulletin #qt_content_del,
.post-type-eab_bulletin #qt_content_ins,
.post-type-eab_bulletin #qt_content_img,
.post-type-eab_bulletin #qt_content_code,
.post-type-eab_bulletin .mce-menu #mceu_62,
.post-type-eab_bulletin .mce-menu #mceu_66,
.post-type-eab_bulletin .mce-menu #mceu_67,
.post-type-eab_bulletin .mce-menu #mceu_68,
.post-type-eab_bulletin div[ aria-label = 'Italic' ],
.post-type-eab_bulletin div[ aria-label = 'Align left' ],
.post-type-eab_bulletin div[ aria-label = 'Align center' ],
.post-type-eab_bulletin div[ aria-label = 'Align right' ],
.post-type-eab_bulletin div[ aria-label = 'Toolbar Toggle' ],
.post-type-eab_bulletin .mce-toolbar.mce-last {
  display: none;
}

.post-type-eab_bulletin #eab_issue_num hr {
  margin: 2em 0;
}

.menu-icon-eab_bulletin .wp-menu-image:before {
  /* https://developer.wordpress.org/resource/dashicons/#!-dashicons-star-filled--uf155
  */
  content: '\f155';

  /* font: .8rem Georgia, sans-serif;
  content: 'EAB'; */
}

.eab-editor-links a[ href ]:before {
  color: #333;
  float: left;
  font: 400 20px/1 dashicons;
  margin-right: 6px;
  speak: none;

  /* position: relative;
  padding: 4px 0;
  background-image: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  text-align: center;
  width: 1rem;
}

.eab-editor-links a[ href ]:before {
  content: 'H';
}
.eab-editor-links a[ href *= edit ]:before {
  content: "\f464";
}
.eab-editor-links a[ href *= txt ]:before {
  content: 'T';
}
